# pixi environments
.pixi/*
!.pixi/config.toml

# data (created by running the package)
data/runs

# openai api key
.env

# other stuff
__pycache__/
.DS_Store

# tdc oracle stuff
oracle/

# nohup output files
/llm_comparison*

skip_test.sh