# pixi environments
.pixi/*
!.pixi/config.toml

# data (created by running the package)
data/runs

# openai api key
.env

# other stuff
__pycache__/
.DS_Store

# tdc oracle stuff
oracle/

# nohup output files
run_logs/

timing.log
timing_gpt.log
skip_test.sh

# pmo baseline
data/results/pmo_baseline/*

# tdc baseline
data/results/tdc_top_50_baselines/*